{% extends 'base.html.twig' %}

{% block title %}Categorie index{% endblock %}

{% block body %}

<div class="container mx-auto px-4  rounded-md">

    <h1 class="text-2xl font-bold py-4">Toutes les Categories</h1>

    <div class="overflow-x-auto">
        <table class="min-w-full table-auto">
            <thead>
                <tr class="bg-blue-500 text-left text-white">
                    <th class="px-4 py-2">Id</th>
                    <th class="px-4 py-2">Nom</th>
                    <th class="px-4 py-2">Actions</th>
                </tr>
            </thead>
            <tbo    dy>
            {% for categorie in categories %}
                <tr class="{{ loop.index is even ? 'bg-gray-100' : 'bg-white' }}">
                    <td class="px-4 py-2">{{ categorie.id }}</td>
                    <td class="px-4 py-2">{{ categorie.nom }}</td>
                    <td class="px-4 py-2">
                         <a href="{{  path('app_admin_categorie_edit', {'id': categorie.id}) }}" class="bg-yellow-500 mt-2 py-0 font-semibold px-3 rounded-full hover:bg-yellow-300 duration-300">Modifier</a>
                    </td>
                </tr>
            {% else %}
                <tr class="bg-gray-100">
                    <td colspan="4" class="px-4 py-2">No records found</td>
                </tr>
            {% endfor %}
            </tbo>
        </table>
    </div>
    
    <a href="{{ path('app_admin_categorie_new') }}" class="mt-4 bg-blue-500 rounded-full hover:bg-blue-700 text-white font-bold py-2 px-4 ">Create new</a>
    

</div>

{% endblock %}
