{% extends 'base.html.twig' %}

{% block title %}Article index{% endblock %}

{% block body %}

<div class="container mx-auto px-4  rounded-md">

    <h1 class="text-2xl font-bold py-4">Tous les Articles</h1>

    <div class="overflow-x-auto">
        <table class="min-w-full table-auto">
            <thead>
                <tr class=" text-left bg-blue-500 text-white">
                    <th class="px-4 py-2">Id</th>
                    <th class="px-4 py-2">Email</th>
                    <th class="px-4 py-2">Nom</th>
                    <th class="px-4 py-2">Actions</th>
                </tr>
            </thead>
            <tbody>
            {% for user in users %}
                <tr class="{{ loop.index is even ? 'bg-gray-100' : 'bg-white' }}">
                    <td class="px-4 py-2">{{ user.id }}</td>
                    <td class="px-4 py-2">{{ user.email }}</td>
                    <td class="px-4 py-2">{{ user.name}}</td>
                    <td class="px-4 py-2">
                        <a href="{{ path('app_admin_user_show', {'id': user.id}) }}" class="bg-green-500 mt-2 py-0 font-semibold px-3 rounded-full hover:bg-green-300 duration-300">Voir</a>
                        <a href="{{ path('app_admin_user_edit', {'id': user.id}) }}" class="bg-yellow-500 mt-2 py-0 font-semibold px-3 rounded-full hover:bg-yellow-300 duration-300">Modifier</a>
                    </td>
                </tr>
            {% else %}
                <tr class="bg-gray-100">
                    <td colspan="4" class="px-4 py-2">No records found</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
    
    <a href="{{ path('app_admin_article_new') }}" class="mt-4 bg-blue-500 rounded-full hover:bg-blue-700 text-white font-bold py-2 px-4 ">Create new</a>
    

</div>
{% endblock %}