{% extends 'base.html.twig' %}

{% block title %}User{% endblock %}

{% block body %}

<div class="container mx-auto p-4  rounded-md">
    <div class="max-w-xl mx-auto p-4">
        <h1 class="text-2xl font-bold mb-4 text-blue-500">User</h1>
    
        <table class="table bg-blue-100 text-black text-left rounded-lg">
            <tbody >
                <tr>
                    <th class="font-semibold  p-4">Id</th>
                    <td>{{ user.id }}</td>
                </tr>
                <tr>
                    <th class="font-semibold p-4">Email</th>
                    <td class="p-4">{{ user.email }}</td>
                </tr>
                <tr>
                    <th class="font-semibold p-4">Nom</th>
                    <td>{{ user.name }}</td>
                </tr>
               
            </tbody>
        </table>
    
    
    </div>
    

    <a href="{{ path('app_admin_user_index') }}" class="mt-4 bg-green-500  py-0 px-3 text-black font-semibold  rounded-full hover:text-green-700">Retour</a>

    <a href="{{ path('app_admin_user_edit', {'id': user.id}) }} " class="mt-2 py-0 px-3 text-black font-semibold rounded-full bg-yellow-500 hover:text-yellow-700">edit</a>

    {{ include('admin_user/_delete_form.html.twig') }}
</div>
   
    
        
    <div class=" container mx-auto">
         <p>Les articles de {{ user.name }} : </p>
        <table class="min-w-full table-auto">
            <thead>
                <tr class="text-left bg-blue-500 text-white">
                    <th class="px-4 py-2">Id</th>
                    <th class="px-4 py-2">Titre</th>
                    <th class="px-4 py-2">Contenu</th>
                    <th class="px-4 py-2">Actions</th>
                </tr>
            </thead>
            <tbody>
            {% for article in articles %}
                <tr class="{{ loop.index is even ? 'bg-gray-100' : 'bg-white' }}">
                    <td class="px-4 py-2">{{ article.id }}</td>
                    <td class="px-4 py-2">{{ article.titre }}</td>
                    <td class="px-4 py-2">{{ article.contenu|two_lines  }}</td>
                    <td class="px-4 py-2">
                        <a href="{{ path('app_admin_article_show', {'id': article.id}) }}" class="bg-green-500 mt-2 py-0 font-semibold px-3 rounded-full hover:bg-green-300 duration-300">Voir</a>
                         </td>
                </tr>
            {% else %}
                <tr class="bg-gray-100">
                    <td colspan="4" class="px-4 py-2">No records found</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
  
   
{% endblock %}
