{% extends 'base.html.twig' %}

{% block title %}Categorie{% endblock %}

{% block body %}
 

 
    <div class="container mx-auto px-4  rounded-md">
 
            <div class="mb-4">
                <p class="text-5xl font-bold mb-4 mt-5">Catégorie : {{ categorie.nom }}</p>
            </div>
        
        
        
            <h1 class="text-2xl font-semibold mb-4 mt-5">Les articles de cette categorie : </h1>
        <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 gap-4">
            
            {% for article in articles %}
            
            <div class="p-6 rounded-lg shadow-md bg-gray-100 flex flex-col">
                <div class="flex-1 mb-2">
                    <span class="font-bold text-xl transform capitalize">{{ article.titre }}</span>
                </div>
                <div class="flex-1 mb-2">
                    <span class="font-medium">{{ article.contenu|two_lines }}</span> 
                </div>
                <div class="flex-1 mt-4">
                    <a href="{{ path('app_article_show', {'id': article.id}) }}" class="bg-green-500 inline-block rounded-full px-6 py-2 text-md font-semibold mr-2 mb-2 duration-300 ease-in-out hover:bg-green-300">Voir plus</a>
                </div>
            </div>
            {% else %}
                <div class="text-center">Pas d'article dans cette categorie</div>
            {% endfor %}
        </div>
        {% if app.user %}
        <a href="{{ path('app_article_new') }}" class="text-white text-center font-bold text-xl px-6   
        py-2 rounded-full hover:bg-blue-300 hover:text-black duration-300 bg-blue-700 inline-block mt-6">Ajouter un article</a>
    
        {% endif %}
        
    
     <div>
        <a class="text-white text-center font-bold text-xl px-6 py-2 rounded-full hover:bg-blue-300
         hover:text-black duration-300 bg-blue-700 inline-block mt-6"  href="{{ path('app_categorie_index') }}"">Retour</a>
    </div>
    </div>

   
 

{% endblock %}
